.root{
    width: 25%;
    text-align: 'center';
    padding: 2%;
}
.heading{
    font-Size: 20;
    flex-Basis: 33.33%;
    flex-Shrink: 0;
    text-Align: 'center';
}
.secondaryHeading{
    font-Size: 15;
    color: black;
}