.franja-informativa{
    padding-top: 2%;
    margin-top:10%;
    color:white;
    background:linear-gradient(90deg, rgba(54,54,59,1) 0%, rgba(55,105,112,1) 26%, rgba(34,149,172,1) 100%);
}

.titulo-franja{
    margin-bottom: 0px;
}

.carousel-imagen{
    width:210px;
    height:140px;
}

.margenes-texto-franja{
    margin-top:20px;
    margin-bottom: 20px;
}

.texto-informativo{
    color: rgba(0, 0, 0, 0.54);
    font-size: 18px;
}