.precios{
    background: linear-gradient(to right, #355C7D 0%, #6C5B7B 50%, #C06C84 100%);
}

.precios-title{
    color:#FFFF;
    font-size: 30px;
    font-family: 'Open Sans', bold;
    font-weight: 700;
    text-align: center;
}

.precios-subtitulo{
    font-weight: bold;
    font-size: 20px;
    font-family: Raleway, 'Helvetica Neue', sans-serif;
    color:#FFFF;
}
.precios-subtitulo2{
    font-weight: bold;
    font-size: 20px;
    font-family: Raleway, 'Helvetica Neue', sans-serif;
    color:#FFFF;
    margin-top: -20px;
    margin-right: 100px;
}