@import url('https://fonts.googleapis.com/css?family=Lato:300,400,800');

.viewbulletin-content {
  background-image:url('../image/background.jpg');
  color: #1c3643;
}

.viewbulletin-title {
  font-size: 24px;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 800;
}