.header-color{
  background: #833ab4; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right,#bbd2c5, #536976, #292e49); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right,#bbd2c5,
  #536976,
  #292e49); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: auto;
}
.landing-grid{
  background-image: url('https://i.pinimg.com/564x/c9/89/a0/c989a0dc7eb64c294e6628a663453f5f.jpg');
  text-align: center;
  position: relative;
  margin-top:4%;
  left: 0;
  width: 100%;
  height: 500px;
}
/* Resume page css*/
.resume-right-col{
  background: #27221F;
  color:white;
  padding: 2em;
}
/* contact css */
.contact-body{
  margin:auto;
  background: gray;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top:2em;
}
.contact-grid{
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
  background: white;
  color: black;
  border:2px solid red;
  margin-bottom: 20px;
}
.contact-grid h2{
  font-family: 'Anton', sans-serif;
}
.contact-grid p{
  font-family: 'Oxygen', sans-serif;  
  
}
.contact-grid hr{
  border-top:5px dotted black;
  width: 50%;
  margin:auto;
}
.contact-list i{
  font-size: 66px;
  padding-right: 5rem;


}
.perfil-img{
  height: 200px;
  width: 200px;
  padding-top: 5em;
}
.banner-text{
  background-color: black;
  opacity: .8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}
.banner-text h1{
  font-size: 66px;
  font-weight: bold;
  color:white;
}
.banner-text hr{
  border-top: 5px dotted white;
  width: 50%;
  margin:auto;
}
.banner-text p{
color:white;
font-size: 20px;
padding: 1em;
}
.social-links {
 
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}
.social-links i {
  color: white;
  font-size: 5em;
  padding: 8px;
}
.projects-grid{
  display: flex;
}
.slider{
  margin-top:1%;
  height: 300px;
  width: 100%;
} 

.pri-nav{
  background-color: #155799;
  color: white;
  display: flex;
}
.page-content{
  background-color: #155799;
    color: white;
    display: none;
    height: 300px;
    align-content: center;
}
.logo{
  margin-left : 5px; 
margin-right : 5px; 
width: 100px;
align-content: center;
}
@media only screen and (max-width: 600px) {
  .pri-nav{
    background-color: #155799;
    color: white;
    display: none;
    
  }
  .page-content{
    background-color: #155799;
      color: white;
      display: flex;
      height: 45px;
      align-content: center;
  }
  .logo{
    margin-left :35%; 
margin-right : 5px; 
width: 100px;
align-content: center;
  }
} 
