@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
.header-color{
  background: #376970; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right,#376970, #376970,#376970); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right,#376970, #376970,#376970); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.mdl-layout__drawer-button {
  display: none;
}
.header--letter{
  font-family: 'Open Sans', bold;
  font-weight: 700;
}
.landing-grid{
  background-image: url('https://i.pinimg.com/564x/c9/89/a0/c989a0dc7eb64c294e6628a663453f5f.jpg');
  text-align: center;
  position: relative;
  margin-top:4%;
  left: 0;
  width: 100%;
  height: 500px;
}
/*menu acprdeon*/
.menu{
  padding:0;
  list-style:none;
  width:620px;
  font-size:18px;
  background:#c1c1c1;
  border: 1px solid rgba(0,0,0,0.8);
}

.menu li a{
  display: block;
  border-bottom: 1px solid rgba(0,0,0, 0.2);
  border-top: 1px solid rgba(255,255,255, 0.2);
  background:#3e3f44;
  text-decoration:none;
  color:#FFF;
  text-shadow: 1px 0px 1px rgba(0,0,0,0.2);
  filter: dropshadow(color=#000, offx=1, offy=0);
  padding:10px;
  padding-left:20px;
}

.menu li ul li a{
  font-size:14px;
  color:#47689d;
  text-shadow: 1px 0px 1px rgba(255,255,255,0.5);
   
}

.menu li a:hover{
  background:#4a6ba2;
  -moz-transition: background 0.3s ease-in;
  -webkit-transition: background 0.3s ease-in;
  -o-transition: background 0.3s ease-in;
}

.menu ul{
  margin:0;
  padding:0;
  list-style:none;
  height:0;
  overflow: hidden;
  transition:1s;
  -moz-transition:1s;
  -webkit-transition:1s;
}

.menu li:hover ul{
  height:120px;
  overflow-y:auto;
  overflow-x:hidden;
}

.menu ul li a{
  background:#fafafa;
}

.menu ul li a:hover {
  background: none repeat scroll 0 0 #ccc;
  color: #fff;
  -moz-transition: color 0.4s ease;
  -webkit-transition: color 0.4s ease;
  -o-transition: color 0.4s ease;
}
/*fin*/
/* Resume page css*/
.resume-right-col{
  background: #27221F;
  color:white;
  padding: 2em;
}
/* contact css */
.contact-body{
  margin:auto;
  background: gray;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top:2em;
}
.contact-grid{
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
  background: white;
  color: black;
  border:2px solid red;
  margin-bottom: 20px;
}
.contact-grid h2{
  font-family: 'Anton', sans-serif;
}
.contact-grid p{
  font-family: 'Oxygen', sans-serif;  
  
}
.contact-grid hr{
  border-top:5px dotted black;
  width: 50%;
  margin:auto;
}
.contact-list i{
  font-size: 66px;
  padding-right: 5rem;


}
.perfil-img{
  height: 200px;
  width: 200px;
  padding-top: 5em;
}
.banner-text{
  background-color: black;
  opacity: .8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}
.banner-text h1{
  font-size: 66px;
  font-weight: bold;
  color:white;
}
.banner-text hr{
  border-top: 5px dotted white;
  width: 50%;
  margin:auto;
}
.banner-text p{
color:white;
font-size: 20px;
padding: 1em;
}
.social-links {
 
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}
.social-links i {
  color: white;
  font-size: 5em;
  padding: 8px;
}
.projects-grid{
  display: flex;
}
.slider{
  height: 320px;
  width: 100%;
} 

.pri-nav{
  background-color:#30393A;
  color: white;
  font-size: 11px;
}
.page-content{
  background-color: #376970;
    color: white;
    display: none;
    height: 300px;
    align-content: center;
}
.logo{
  left : 10px;  
  width: 300px;
  height: 70px;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Catamaran:400,800');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
.error-container {
  text-align: center;
  font-size: 180px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 800;
  margin: 20px 15px;
}
.error-container > span {
  display: inline-block;
  line-height: 0.7;
  position: relative;
  color: #FFB485;
}
.error-container > span {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}
.error-container > span:nth-of-type(1) {
  color: #D1F2A5;
  animation: colordancing 4s infinite;
}
.error-container > span:nth-of-type(3) {
  color: #F56991;
  animation: colordancing2 4s infinite;
}
.error-container > span:nth-of-type(2) {
  width: 120px;
  height: 120px;
  border-radius: 999px;
}
.error-container > span:nth-of-type(2):before,
.error-container > span:nth-of-type(2):after {
	border-radius: 0%;
	content:"";
	position: absolute;
	top: 0; left: 0;
	width: inherit; height: inherit;
  border-radius: 999px;
	box-shadow: inset 30px 0 0 rgba(209, 242, 165, 0.4),
				inset 0 30px 0 rgba(239, 250, 180, 0.4),
				inset -30px 0 0 rgba(255, 196, 140, 0.4),	
				inset 0 -30px 0 rgba(245, 105, 145, 0.4);
  animation: shadowsdancing 4s infinite;
}
.error-container > span:nth-of-type(2):before {
	-webkit-transform: rotate(45deg);
	   -moz-transform: rotate(45deg);
			transform: rotate(45deg);
}

.screen-reader-text {
    position: absolute;
    top: -9999em;
    left: -9999em;
}
@keyframes shadowsdancing {
  0% {
    box-shadow: inset 30px 0 0 rgba(209, 242, 165, 0.4),
				inset 0 30px 0 rgba(239, 250, 180, 0.4),
				inset -30px 0 0 rgba(255, 196, 140, 0.4),	
				inset 0 -30px 0 rgba(245, 105, 145, 0.4);
  }
  25% {
    box-shadow: inset 30px 0 0 rgba(245, 105, 145, 0.4),
				inset 0 30px 0 rgba(209, 242, 165, 0.4),
				inset -30px 0 0 rgba(239, 250, 180, 0.4),	
				inset 0 -30px 0 rgba(255, 196, 140, 0.4);
  }
  50% {
     box-shadow: inset 30px 0 0 rgba(255, 196, 140, 0.4),
				inset 0 30px 0 rgba(245, 105, 145, 0.4),
				inset -30px 0 0 rgba(209, 242, 165, 0.4),	
				inset 0 -30px 0 rgba(239, 250, 180, 0.4);
  }
  75% {
   box-shadow: inset 30px 0 0 rgba(239, 250, 180, 0.4),
				inset 0 30px 0 rgba(255, 196, 140, 0.4),
				inset -30px 0 0 rgba(245, 105, 145, 0.4),	
				inset 0 -30px 0 rgba(209, 242, 165, 0.4);
  }
  100% {
    box-shadow: inset 30px 0 0 rgba(209, 242, 165, 0.4),
				inset 0 30px 0 rgba(239, 250, 180, 0.4),
				inset -30px 0 0 rgba(255, 196, 140, 0.4),	
				inset 0 -30px 0 rgba(245, 105, 145, 0.4);
  }
}
@keyframes colordancing {
  0% {
    color: #D1F2A5;
  }
  25% {
    color: #F56991;
  }
  50% {
    color: #FFC48C;
  }
  75% {
    color: #EFFAB4;
  }
  100% {
    color: #D1F2A5;
  }
}
@keyframes colordancing2 {
  0% {
    color: #FFC48C;
  }
  25% {
    color: #EFFAB4;
  }
  50% {
    color: #D1F2A5;
  }
  75% {
    color: #F56991;
  }
  100% {
    color: #FFC48C;
  }
}

/* demo stuff */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.notfound {
  background-color: #416475;
  margin-bottom: 50px;
}
html, button, input, select, textarea {
    font-family: 'Montserrat', Helvetica, sans-serif;
    color: #92a4ad;
}
h1 {
  text-align: center;
  margin: 30px 15px;
}
.zoom-area { 
  max-width: 490px;
  margin: 30px auto 30px;
  font-size: 19px;
  text-align: center;
}
.link-container {
  text-align: center;
}
a.more-link {
  text-transform: uppercase;
  font-size: 13px;
    background-color: #92a4ad;
    padding: 10px 15px;
    border-radius: 0;
    color: #416475;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    line-height: 1.5;
    text-decoration: none;
  margin-top: 50px;
  letter-spacing: 1px;
}
/*bulletin*/
/*footer*/
.footer{
  width: 100%;
  background: #376970;
  color: white;
}

.container-footer-all{
  width: 100%;
  margin: auto;
  padding: 40px;
}

.container-body{
  display: flex;
  justify-content: space-between;
}

.colum1{
  max-width: 400px;
}

.colum1 h1{
  font-size: 22px;
}

.colum1 p{
  font-size: 14px;
  color: #C7C7C7;
  margin-top: 20px;
}

.colum2{
  max-width: 400px;
  
}

.colum2 h1{
  font-size: 22px;
}

.row{
  margin-top: 20px;
  display: flex;
}

.row img{
  width: 36px;
  height: 36px;
}

.row label{
  margin-top: 10px;
  margin-left: 20px;
  color: #C7C7C7;
}

.colum3{
  max-width: 400px;
}

.colum3 h1{
  font-size: 22px;
}

.row2{
  margin-top: 20px;
  display: flex;
}

.row2 img{
  width: 36px;
  height: 36px;
}

.row2 label{
  margin-top: 10px;
  margin-left: 20px;
  max-width: 140px;
}

.container-footer{
  width: 100%;  
  padding: 2%;
}


.copyright{
  color: #C7C7C7;
}

.copyright a{
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.information a{
  text-decoration: none;
  color: #C7C7C7;
}

.referencia{
  color: white;
  text-decoration: none;
  text-align: center;
}
@media screen and (max-width: 1100px){
  
  .container-body{
      flex-wrap: wrap;
  }
  .colum1{
      max-width: 100%;
  }
  
  .colum2,
  .colum3{
      margin-top: 40px;
  }
}
/*end*/

@media only screen and (max-width: 600px) {
  .pri-nav{
    background-color:#376970;
    color: white;
    display: none;
    
  }
  .page-content{
    background-color:#376970;
      color: white;
      display: flex;
      height: 45px;
      align-content: center;
  }
  .logo{
    margin-left :20%; 
    margin-right : 5px; 
    width: 240px;
    height: 45px;
    align-content: center;
  }
  .slider{
    height: 100%;
    width: 100%;
  }
  .mdl-layout__drawer-button {
    display: block;
  }
}
@media only screen and (min-width:1200px)
{
  .slider{
    height:100%;
    width: 100%;
  }
}
